rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Permitir lectura y escritura para todos (solo para desarrollo)
      allow read, write: if true;
    }
  }
}

